<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <a mdbRipple href="#" class="list-group-item list-group-item-action" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fas fa-home fa-fw me-3"></i><span>Home</span>
      </a>
      <a mdbRipple href="#" class="list-group-item list-group-item-action" routerLink="/draw-tickets" routerLinkActive="active">
        <i class="fas fa-money-bill fa-fw me-3"></i><span>Draw tickets</span>
      </a>
      <a mdbRipple href="#" class="list-group-item list-group-item-action" routerLink="/ticket-history" routerLinkActive="active">
        <i class="fas fa-chart-bar fa-fw me-3"></i><span>Ticket history</span>
      </a>
    </div>
  </div>
</nav>
